@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.orange-shadow {
  box-shadow: 0 8px 24px 0 rgba(255, 140, 0, 0.6) !important;
}

